<header>
	{% set index = 0 %}
	<div class="image-container">
	{% for p in page.collection %}
		{% set first_image = p.media.images|first %}
		<div class="image preload" data-index="{{ index }}" style="background-image: url('{{ first_image.url|e }}');">
			<div class="title">{{ p.header.title }}</div>
			<div class="btn-scroll-down"><i class="las la-chevron-circle-down"></i></div>	
		</div>
		{% set index = index + 1 %}
	{% endfor %}
	</div>
	<div class="showcase-counter">
		{% for p in range(count(page.collection) - 1, 0, -1) %}
		<div data-index="{{ p }}"></div>
		{% endfor %}
	</div>
</header>
<section>

	<div class="groups">

		{% set navItems = grav.theme.config.nav.items %}
		{% for item in navItems %}
			<a class="link" href="{{ grav.pages.find(item.filter).url|raw}}{{ buildTaxonomy(item.taxonomy) }}">
				<div class="title">{{ item.label|raw }}</div>
				<div class="icon"><i class="la {{ item.icon|raw }}"></i></div>
				<div class="description">{{ item.description|raw }}</div>
			</a>
		{% endfor %}

	</div>

</section>