{% set contact = grav.theme.config.contact %}
{% block navigation %}
        <nav>
                <div id="info-header">
                        <a class="title" href="{{ base_url == '' ? '/' : base_url }}"><i class="las la-university"></i> {{ site.title }}</a>
                        <div class="fill"></div>
                        <a class="contact" href="{{ contact.address.url|raw }}"
                        target="_blank">
                                <div class="icon"><i class="las la-globe-europe"></i></div>
                                <div class="text">{{ contact.address.label|raw }}</div>
                        </a>
                        <a class="contact" href="{{ contact.phone.url|raw }}">
                                <div class="icon"><i class="las la-phone"></i></div>
                                <div class="text">{{ contact.phone.label|raw }}</div>
                        </a>
                        <a class="contact" href="{{ contact.mail.url|raw }}">
                                <div class="icon"><i class="las la-envelope"></i></div>
                                <div class="text">{{ contact.mail.label|raw }}</div>
                        </a>
                </div>
                <div id="nav-header">
                        <a class="link" href="{{page.find('/schulbetrieb/vertretungsplan').url|raw }}">
                                <div class="icon"><i class="las la-table"></i></div>
                                <div class="text">Vertretungsplan</div>
                        </a>
                        <a class="link" href="https://brandenburg.cloud" target="_blank">
                                <div class="icon"><i class="las la-cloud"></i></div>
                                <div class="text">Schulcloud</div>
                        </a>

                </div>
        </nav>
{% endblock %}
