{% set contact = grav.theme.config.contact %}
{% block navigation %}
        <nav>
                <div id="info-header">
                        <a class="title" href="{{ base_url == '' ? '/' : base_url }}"><i class="las la-university"></i> {{ site.title }}</a>
                        <div class="fill"></div>
                        <a class="contact" href="{{ contact.address.url|raw }}"
                        target="_blank">
                                <div class="icon"><i class="las la-globe-europe"></i></div>
                                <div class="text">{{ contact.address.label|raw }}</div>
                        </a>
                        <a class="contact" href="{{ contact.phone.url|raw }}">
                                <div class="icon"><i class="las la-phone"></i></div>
                                <div class="text">{{ contact.phone.label|raw }}</div>
                        </a>
                        <a class="contact" href="{{ contact.mail.url|raw }}">
                                <div class="icon"><i class="las la-envelope"></i></div>
                                <div class="text">{{ contact.mail.label|raw }}</div>
                        </a>
                </div>
                <div id="nav-header">
                  	<div class="link">
		        	<a href="{{page.find('/schulbetrieb/vertretungsplan').url|raw }}">
                                	<span class="icon"><i class="las la-table"></i></span>
                                	<span class="text">Vertretungsplan</span>
                        	</a>
			</div>
                        <div class="link">
                             	<a href="https://brandenburg.cloud" target="_blank">
					<span class="icon"><i class="las la-cloud"></i></span>
                                	<span class="text">Schulcloud</span>
				</a>
				<a class="info"
				href="{{page.find('/schulbetrieb/hilfe-zur-schulcloud').url|raw }}">
					<span><i class="las la-question-circle"></i></span>
					<span class="hide">Hilfe</span>
				</a>
                        </div>

                </div>
        </nav>
{% endblock %}
